
{% extends 'base.html.twig' %}

    
{% block title %}New Entreprise{% endblock %}

{% block body %}
    {% include 'index.html.twig' %}
    <h1>Create new Entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}

           <button class="btn btns"><a class="return" href="{{ path('app_entreprise_index') }}"><i class="fa-solid fa-house"></i></a>
</i></a>

{% endblock %}
