.sch{
    border: none;
    margin: 0;
    padding: 0;
}

  form.sch{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: #0003 4px solid;
    background-color: #fff;
    margin-bottom: 60px;
}
input.sch{
    height: 40px;
    width: 90%;
    border-radius: 20px;
    padding-inline-start: 20px;
}
button.sch{
    height: 40px;
    width: 9.5%;
    border-radius: 20px;
    transition: 300ms;

}
button.sch:hover{
    transform: scale(1.2) rotate(10deg);
    transition: 300ms;
    cursor: pointer;
}
button.sch:active{
    transform: scale(1.6) rotate(30deg);
    transition: 300ms;
    cursor: pointer;
}
.stagetable {
    overflow-x: auto;  /* Change from visible to auto */
    width: 100%; /* Adjust the width according to your needs */
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    font-family: "Roboto", sans-serif;
  
  }
  table.stagetable {
    width: 120%;
  }
  .demiwhite{
    overflow-x: scroll;
  }
  .stagetable td, .stagetable th{
    font-family: "Roboto", sans-serif;
    padding: 20px;
  }
  
    .stagetable td{
   min-width: 20%;
  }
  .stagetable{
      width: 20%;
  
  }
  form.sch{
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #fff;
    border-radius: 50px;
    padding: 0;
    justify-content: space-between;
    margin:  50px 0;
    border: #0007 solid 5px ;
    display: flex;
    font-family: "Roboto", sans-serif;
  }
  input.sch{
    width: 800px;
    margin: 0;
    height: 50px;
    border-radius: 50px ;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  button.sch{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: rgb(79,48,146);
    background: linear-gradient(235deg, rgba(170, 24, 28, 1) 0%, rgba(211, 112, 26, 1) 100%);
    transition: 0.5s;
  }
  button.sch:hover{
    cursor: pointer;
    background: linear-gradient(235deg, rgba(170, 24, 28, 1) 0%, rgba(211, 112, 26, 1) 100%);
    width: 100px;
    transform: rotate3d(1,0, 2, 10deg) scale(120%);
    transition: 0.5s;
  }
  button.sch:active{
    cursor: pointer;
    background: linear-gradient(235deg, rgba(170, 24, 28, 1) 0%, rgba(211, 112, 26, 1) 100%);
    width: 100px;
    transform: rotate3d(1,0, 2, 20deg) scale(200%);
    transition: 0.2s;
  }
  button.sch i{
    color: #fff;
  
  }