{% block head %}{% include 'login/index.html' %}{% endblock %}

{% block body %}

        <form method="post">
            <label for="username">Identifiant :</label>
            <input type="text" id="identifiant" name="identifiant" required>

        <label for="password">Password:</label>
        <input type="UTI_password" id="UTI_password" name="UTI_password">

        <input type="hidden" name="_target_path" value="/stage">

        <button type="submit">login</button>
    </form>
{% endblock %}