<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/635d338a3f.js" crossorigin="anonymous"></script>
</head>
<div>
    <nav>
        <a href="#"><img src="image/Logo.png" alt=""></a>
        <ul><a href="#">Stages</a></ul>
        <ul><a href="#">Éleve</a></ul>
        <ul><a href="#">Entreprise</a></ul>
        <ul><a href="#"><i class="fa-solid fa-right-to-bracket"></i> Connexion</a></ul>
        <ul><a href="#"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a></ul>
        
    </nav>
</div>
<div class="bord">
<div class="page">
