@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto+Slab:wght@100;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto+Slab:wght@100;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
}
nav a{
    text-decoration: none;
    color: #333438;
    text-align: center;
    margin: 20px;
}
nav ul:nth-child(2) a{
    color: #03949B;
}
nav ul:nth-child(3) a{
    color: #D3701A;
}
nav ul:nth-child(4) a{
    color: #AA181C;
}
nav ul:hover{
    transform: scale(110%);
    transition: 300ms;
    filter: brightness(150%);
}
nav{
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;

    width: 100%;
    margin: 0;
    position: absolute;
    box-shadow: #000 0px 0px 10px inset;
    height: 140px;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom: 10px solid;
    border-image:   linear-gradient(to left, #333438 25%, #AA181C 25%, #AA181C 50%,#D3701A 50%, #D3701A 75%, #03949B 75%) 5;
}
nav img{
    height: 80px;
    margin-left: 40px;
}
div.page{
    margin: 0 15% ;
    background-color: #ffffff;
    box-shadow: #000 0px 0px 5px ;
    padding: 5%;
}
div.bord{
    background-color: #ffffff;
    padding-top: 100px;
}
h1{
    padding: 0 15px;
    margin: 10px 0;
    color: #333438;
    border-left: 10px solid #03949B;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    padding: 15px 0;
    color: #333438;
    border-bottom: 5px solid #03949B;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

*{
    background-image: url(./image/bg.png);
    background-size:contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #000;
}
.flex{
    display: inline;
    color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    color: #fff; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-btn {
    width: 20%;
    padding: 10px 20px;
    background-color: #03949B; /* Adjust to match your primary color */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .login-btn:hover {
    background-color: #03949B; /* Slightly darker shade on hover */
  }
  .sch{
    background-color: #000;
    
  }
  form.sch{
    width: 100%;
}
